{
  "openapi": "3.0.0",
  "info": {
    "version": "5.0.0",
    "title": "さくらのVPS APIドキュメント",
    "x-logo": {
      "url": "logo.svg",
      "altText": "さくらのVPS APIドキュメント"
    }
  },
  "servers": [
    {
      "url": "https://secure.sakura.ad.jp/vps/api/v7"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/servers": {
      "get": {
        "summary": "サーバー情報一覧を取得する",
        "tags": [
          "server"
        ],
        "operationId": "get-server-list",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaginationPage"
          },
          {
            "$ref": "#/components/parameters/PaginationPerPage"
          },
          {
            "$ref": "#/components/parameters/IDList"
          },
          {
            "$ref": "#/components/parameters/SwitchID"
          },
          {
            "$ref": "#/components/parameters/ZoneCode"
          },
          {
            "$ref": "#/components/parameters/ServiceType"
          },
          {
            "$ref": "#/components/parameters/Ipv4Address"
          },
          {
            "$ref": "#/components/parameters/MonitoringResourceId"
          },
          {
            "$ref": "#/components/parameters/ServerSortOrder"
          },
          {
            "$ref": "#/components/parameters/ServerSearch"
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "results"
                      ],
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Server"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Generic400"
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      }
    },
    "/servers/{server_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ServerID"
        }
      ],
      "get": {
        "summary": "サーバー情報を取得する",
        "tags": [
          "server"
        ],
        "operationId": "get-server",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Server"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "サーバーが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      },
      "put": {
        "summary": "サーバー情報を更新する",
        "tags": [
          "server"
        ],
        "operationId": "put-server",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "description"
                ],
                "properties": {
                  "name": {
                    "description": "名前",
                    "type": "string"
                  },
                  "description": {
                    "description": "説明",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Server"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Generic400"
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "サーバーが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      }
    },
    "/servers/{server_id}/power-status": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ServerID"
        }
      ],
      "get": {
        "summary": "サーバーの電源状態を取得する",
        "tags": [
          "server"
        ],
        "operationId": "get-server-power-status",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerPowerStatus"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "サーバーが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          },
          "503": {
            "description": "ホストから電源状態が取得できない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails503"
                }
              }
            }
          }
        }
      }
    },
    "/servers/{server_id}/power-on": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ServerID"
        }
      ],
      "post": {
        "summary": "サーバーを起動する",
        "tags": [
          "server"
        ],
        "operationId": "post-server-power-on",
        "responses": {
          "202": {
            "description": "サーバー起動コマンドの送信を完了"
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "サーバーが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "409": {
            "description": "電源操作が行えない状態（スケールアップ中など）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails409"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          },
          "503": {
            "description": "ホストが電源操作を受け付けない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails503"
                }
              }
            }
          }
        }
      }
    },
    "/servers/{server_id}/shutdown": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ServerID"
        }
      ],
      "post": {
        "summary": "サーバーをシャットダウンする",
        "tags": [
          "server"
        ],
        "operationId": "post-server-shutdown",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "force": {
                    "type": "boolean",
                    "description": "強制停止を行うか",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "シャットダウンコマンドの送信を完了"
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "サーバーが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "409": {
            "description": "電源操作が行えない状態（スケールアップ中など）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails409"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          },
          "503": {
            "description": "ホストが電源操作を受け付けない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails503"
                }
              }
            }
          }
        }
      }
    },
    "/servers/{server_id}/force-reboot": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ServerID"
        }
      ],
      "post": {
        "summary": "サーバーを強制再起動する",
        "tags": [
          "server"
        ],
        "operationId": "post-server-force-reboot",
        "responses": {
          "202": {
            "description": "強制再起動コマンドの送信を完了"
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "サーバーが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "409": {
            "description": "電源操作が行えない状態（スケールアップ中など）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails409"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          },
          "503": {
            "description": "ホストが電源操作を受け付けない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails503"
                }
              }
            }
          }
        }
      }
    },
    "/servers/{server_id}/mount-disc": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ServerID"
        }
      ],
      "post": {
        "summary": "サーバーにディスクをマウントする",
        "tags": [
          "server"
        ],
        "operationId": "post-server-mount-disc",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "disc_id"
                ],
                "properties": {
                  "disc_id": {
                    "type": "integer",
                    "description": "ディスクID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "マウント完了"
          },
          "400": {
            "$ref": "#/components/responses/Generic400"
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "サーバーが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "409": {
            "description": "ディスク操作が行えない状態（電源がOFFなど）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails409"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          },
          "503": {
            "description": "ホストがディスク操作を受け付けない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails503"
                }
              }
            }
          }
        }
      }
    },
    "/servers/{server_id}/vnc-console-keymap": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ServerID"
        }
      ],
      "get": {
        "summary": "コンパネのVNCコンソールのキーマップ情報を取得する",
        "tags": [
          "server"
        ],
        "operationId": "get-server-vnc-console-keymap",
        "responses": {
          "200": {
            "description": "取得完了",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Keymap"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "サーバーが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      },
      "put": {
        "summary": "コンパネのVNCコンソールのキーマップ情報を変更する",
        "tags": [
          "server"
        ],
        "operationId": "put-server-vnc-console-keymap",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Keymap"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功。サーバーの再起動をすることで設定が反映される",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Keymap"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Generic400"
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "サーバーが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          },
          "503": {
            "description": "ホストがキーマップ操作を受け付けない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails503"
                }
              }
            }
          }
        }
      }
    },
    "/servers/{server_id}/ipv4-ptr": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ServerID"
        }
      ],
      "put": {
        "summary": "サーバーのipv4の逆引きホスト名を更新する",
        "tags": [
          "server"
        ],
        "operationId": "put-server-ipv4-ptr",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "hostname"
                ],
                "properties": {
                  "hostname": {
                    "type": "string",
                    "description": "ホスト名",
                    "example": "example.jp"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "設定完了",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ptr"
                  ],
                  "properties": {
                    "ptr": {
                      "type": "string",
                      "description": "逆引きホスト名",
                      "example": "example.jp"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Generic400"
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "サーバーが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          },
          "503": {
            "description": "DNSの情報取得または設定に失敗した",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails503"
                }
              }
            }
          }
        }
      }
    },
    "/servers/{server_id}/interfaces": {
      "parameters": [
        {
          "$ref": "#/components/parameters/PaginationPage"
        },
        {
          "$ref": "#/components/parameters/PaginationPerPage"
        },
        {
          "$ref": "#/components/parameters/ServerID"
        }
      ],
      "get": {
        "summary": "サーバーのインターフェース情報一覧を取得する",
        "tags": [
          "server"
        ],
        "operationId": "get-server-interface-list",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "results"
                      ],
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ServerInterface"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "サーバーが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      }
    },
    "/servers/{server_id}/interfaces/{interface_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ServerID"
        },
        {
          "$ref": "#/components/parameters/ServerInterfaceID"
        }
      ],
      "get": {
        "summary": "サーバーのインターフェース情報を取得する",
        "tags": [
          "server"
        ],
        "operationId": "get-server-interface",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerInterface"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "インターフェースが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      },
      "put": {
        "summary": "サーバーのインターフェース情報を更新する",
        "tags": [
          "server"
        ],
        "operationId": "put-server-interface",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServerInterface"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerInterface"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Generic400"
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "インターフェースが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "409": {
            "description": "接続が行えない状態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails409"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          },
          "503": {
            "description": "一時的に接続操作を受け付けない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails503"
                }
              }
            }
          }
        }
      }
    },
    "/servers/{server_id}/ipv6-ptr": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ServerID"
        }
      ],
      "put": {
        "summary": "サーバーのipv6の逆引きホスト名を更新する",
        "tags": [
          "server"
        ],
        "operationId": "put-server-ipv6-ptr",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "hostname"
                ],
                "properties": {
                  "hostname": {
                    "type": "string",
                    "description": "ホスト名",
                    "example": "example.jp"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "設定完了",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ptr"
                  ],
                  "properties": {
                    "ptr": {
                      "type": "string",
                      "description": "逆引きホスト名",
                      "example": "example.jp"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Generic400"
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "サーバーが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          },
          "503": {
            "description": "DNSの情報取得または設定に失敗した",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails503"
                }
              }
            }
          }
        }
      }
    },
    "/servers/{server_id}/video-device": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ServerID"
        }
      ],
      "get": {
        "summary": "サーバーのビデオデバイスの設定を取得する",
        "tags": [
          "server"
        ],
        "operationId": "get-server-video-device",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "ビデオデバイスの種類",
                      "enum": [
                        "vga",
                        "cirrus",
                        "unknown"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "サーバーが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          },
          "503": {
            "description": "ビデオデバイス情報の取得に失敗した",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails503"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "サーバーのビデオデバイスの設定を更新する",
        "tags": [
          "server"
        ],
        "operationId": "put-server-video-device",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "ビデオデバイスの種類",
                    "enum": [
                      "vga",
                      "cirrus"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功。サーバーの再起動をすることで設定が反映される",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "type"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "ビデオデバイスの種類",
                      "enum": [
                        "vga",
                        "cirrus"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Generic400"
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "サーバーが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          },
          "503": {
            "description": "ビデオデバイス情報の設定に失敗した",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails503"
                }
              }
            }
          }
        }
      }
    },
    "/servers/{server_id}/limitation": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ServerID"
        }
      ],
      "get": {
        "summary": "サーバーの制限情報を取得する",
        "tags": [
          "server"
        ],
        "operationId": "get-server-limitation",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Limitation"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "サーバーが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          },
          "503": {
            "description": "サーバーの制限情報の取得に失敗した",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails503"
                }
              }
            }
          }
        }
      }
    },
    "/servers/{server_id}/monitorings": {
      "get": {
        "summary": "サーバーのサーバー監視情報一覧を取得する",
        "tags": [
          "server"
        ],
        "operationId": "get-server-monitoring-list",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaginationPage"
          },
          {
            "$ref": "#/components/parameters/PaginationPerPage"
          },
          {
            "$ref": "#/components/parameters/ServerID"
          },
          {
            "$ref": "#/components/parameters/MonitoringResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "results"
                      ],
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ServerMonitoring"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "サーバーが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      },
      "post": {
        "summary": "サーバーのサーバー監視を作成する",
        "tags": [
          "server"
        ],
        "operationId": "post-server-monitoring",
        "parameters": [
          {
            "$ref": "#/components/parameters/ServerID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServerMonitoring"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerMonitoring"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Generic400"
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "サーバーが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "409": {
            "description": "サーバー監視を作成できない状態（作成上限数超過など）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails409"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      }
    },
    "/servers/{server_id}/monitorings/{server_monitoring_id}": {
      "get": {
        "summary": "サーバーのサーバー監視情報を取得する",
        "tags": [
          "server"
        ],
        "operationId": "get-server-monitoring",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaginationPage"
          },
          {
            "$ref": "#/components/parameters/PaginationPerPage"
          },
          {
            "$ref": "#/components/parameters/ServerID"
          },
          {
            "$ref": "#/components/parameters/ServerMonitoringID"
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerMonitoring"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "サーバーまたはサーバー監視が見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      },
      "put": {
        "summary": "サーバーのサーバー監視情報を更新する",
        "tags": [
          "server"
        ],
        "operationId": "put-server-monitoring",
        "parameters": [
          {
            "$ref": "#/components/parameters/ServerID"
          },
          {
            "$ref": "#/components/parameters/ServerMonitoringID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServerMonitoring"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerMonitoring"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Generic400"
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "サーバーが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "409": {
            "description": "サーバー監視を更新できない状態（更新ステータスが更新完了でないなど）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails409"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      },
      "delete": {
        "summary": "サーバーのサーバー監視情報を削除する",
        "tags": [
          "server"
        ],
        "operationId": "delete-server-monitorings",
        "parameters": [
          {
            "$ref": "#/components/parameters/ServerID"
          },
          {
            "$ref": "#/components/parameters/ServerMonitoringID"
          }
        ],
        "responses": {
          "204": {
            "description": "成功"
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "サーバーまたはサーバー監視が見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "409": {
            "description": "サーバー監視を削除できない状態（更新ステータスが更新完了でないなど）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails409"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      }
    },
    "/servers/{server_id}/monitorings/{server_monitoring_id}/health": {
      "get": {
        "summary": "サーバー監視の監視状態を取得する",
        "tags": [
          "server"
        ],
        "operationId": "get-server-monitoring-health",
        "parameters": [
          {
            "$ref": "#/components/parameters/ServerID"
          },
          {
            "$ref": "#/components/parameters/ServerMonitoringID"
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServerMonitoringHealth"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "サーバーまたはサーバー監視が見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "409": {
            "description": "監視状態を取得できない状態（更新ステータスが更新完了でないなど）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails409"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      }
    },
    "/nfs-servers": {
      "get": {
        "summary": "NFS情報一覧を取得する",
        "tags": [
          "nfs-server"
        ],
        "operationId": "get-nfs-server-list",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaginationPage"
          },
          {
            "$ref": "#/components/parameters/PaginationPerPage"
          },
          {
            "$ref": "#/components/parameters/IDList"
          },
          {
            "$ref": "#/components/parameters/SwitchID"
          },
          {
            "$ref": "#/components/parameters/ZoneCode"
          },
          {
            "$ref": "#/components/parameters/NfsServerSortOrder"
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "results"
                      ],
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/NfsServer"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Generic400"
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      }
    },
    "/nfs-servers/{nfs_server_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/NfsServerID"
        }
      ],
      "get": {
        "summary": "NFS情報を取得する",
        "tags": [
          "nfs-server"
        ],
        "operationId": "get-nfs-server",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NfsServer"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "NFSが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      },
      "put": {
        "summary": "NFS情報を更新する",
        "tags": [
          "nfs-server"
        ],
        "operationId": "put-nfs-server",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "description"
                ],
                "properties": {
                  "name": {
                    "description": "名前",
                    "type": "string"
                  },
                  "description": {
                    "description": "説明",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NfsServer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Generic400"
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "NFSが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      }
    },
    "/nfs-servers/{nfs_server_id}/change-ipv4": {
      "parameters": [
        {
          "$ref": "#/components/parameters/NfsServerID"
        }
      ],
      "post": {
        "summary": "NFSのipv4を更新する",
        "tags": [
          "nfs-server"
        ],
        "operationId": "post-nfs-server-change-ipv4",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "address",
                  "netmask"
                ],
                "properties": {
                  "address": {
                    "description": "ipv4アドレス",
                    "type": "string"
                  },
                  "netmask": {
                    "description": "ネットマスク",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "ipv4の設定のリクエストの送信を完了"
          },
          "400": {
            "$ref": "#/components/responses/Generic400"
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "NFSが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "409": {
            "description": "ipv4の設定が行えない状態にある（すでにipv4の設定中である場合やNFSが起動されていない場合など）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails409"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          },
          "503": {
            "description": "ipv4の設定のリクエストの送信に失敗した",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails503"
                }
              }
            }
          }
        }
      }
    },
    "/nfs-servers/{nfs_server_id}/power-status": {
      "parameters": [
        {
          "$ref": "#/components/parameters/NfsServerID"
        }
      ],
      "get": {
        "summary": "NFSの電源状態を取得する",
        "tags": [
          "nfs-server"
        ],
        "operationId": "get-nfs-server-power-status",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NfsServerPowerStatus"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "サーバーが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          },
          "503": {
            "description": "電源状態が取得できない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails503"
                }
              }
            }
          }
        }
      }
    },
    "/nfs-servers/{nfs_server_id}/power-on": {
      "parameters": [
        {
          "$ref": "#/components/parameters/NfsServerID"
        }
      ],
      "post": {
        "summary": "NFSを起動する",
        "tags": [
          "nfs-server"
        ],
        "operationId": "post-nfs-server-power-on",
        "responses": {
          "202": {
            "description": "NFS起動コマンドの送信を完了"
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "NFSが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "409": {
            "description": "起動リクエストを受け付けない状態にある（設定状況が設定完了になっていない場合や、既に起動中の場合など）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails409"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          },
          "503": {
            "description": "NFS起動コマンドの送信に失敗した",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails503"
                }
              }
            }
          }
        }
      }
    },
    "/nfs-servers/{nfs_server_id}/force-reboot": {
      "parameters": [
        {
          "$ref": "#/components/parameters/NfsServerID"
        }
      ],
      "post": {
        "summary": "NFSを強制再起動する",
        "tags": [
          "nfs-server"
        ],
        "operationId": "post-nfs-server-force-reboot",
        "responses": {
          "202": {
            "description": "NFS強制再起動コマンドの送信を完了"
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "NFSが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "409": {
            "description": "再起動リクエストを受け付けない状態にある（設定状況が設定完了になっていない場合など）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails409"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          },
          "503": {
            "description": "NFS再起動コマンドの送信に失敗した",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails503"
                }
              }
            }
          }
        }
      }
    },
    "/nfs-servers/{nfs_server_id}/shutdown": {
      "parameters": [
        {
          "$ref": "#/components/parameters/NfsServerID"
        }
      ],
      "post": {
        "summary": "NFSをシャットダウンする",
        "tags": [
          "nfs-server"
        ],
        "operationId": "post-nfs-server-shutdown",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "force": {
                    "type": "boolean",
                    "description": "強制停止を行うか",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "NFSシャットダウンコマンドの送信を完了"
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "NFSが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "409": {
            "description": "シャットダウンリクエストを受け付けない状態にある（設定状況が設定完了になっていない場合や、すでにシャットダウンされている場合など）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails409"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          },
          "503": {
            "description": "NFSシャットダウンコマンドの送信に失敗した",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails503"
                }
              }
            }
          }
        }
      }
    },
    "/nfs-servers/{nfs_server_id}/interface": {
      "parameters": [
        {
          "$ref": "#/components/parameters/NfsServerID"
        }
      ],
      "get": {
        "summary": "NFSのインターフェースを取得する",
        "tags": [
          "nfs-server"
        ],
        "operationId": "get-nfs-server-interface",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NfsServerInterface"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "NFSが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      },
      "put": {
        "summary": "NFSのインターフェース情報を更新する",
        "tags": [
          "nfs-server"
        ],
        "operationId": "put-nfs-server-interface",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NfsServerInterface"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NfsServerInterface"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Generic400"
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "NFSが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "409": {
            "description": "接続が行えない状態（電源がオフになっていない）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails409"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          },
          "503": {
            "description": "一時的に接続操作を受け付けない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails503"
                }
              }
            }
          }
        }
      }
    },
    "/nfs-servers/{nfs_server_id}/storage": {
      "parameters": [
        {
          "$ref": "#/components/parameters/NfsServerID"
        }
      ],
      "get": {
        "summary": "NFSのストレージ容量情報を取得する",
        "tags": [
          "nfs-server"
        ],
        "operationId": "get-nfs-server-storage",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NfsStorageInfo"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "NFSが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "409": {
            "description": "ストレージ容量情報を取得できない状態",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails409"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          },
          "503": {
            "description": "一時的にストレージ容量情報を取得できない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails503"
                }
              }
            }
          }
        }
      }
    },
    "/switches": {
      "post": {
        "summary": "スイッチを作成する",
        "description": "同一ゾーン内で作成可能なスイッチ数は最大20です",
        "tags": [
          "switch"
        ],
        "operationId": "post-switch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "name",
                  "description",
                  "zone_code"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "名前"
                  },
                  "description": {
                    "type": "string",
                    "description": "説明"
                  },
                  "zone_code": {
                    "type": "string",
                    "writeOnly": true,
                    "description": "ゾーンコード\n* tk2 東京第2\n* tk3 東京第3\n* os3 大阪第3\n* is1 石狩第1",
                    "enum": [
                      "tk2",
                      "tk3",
                      "os3",
                      "is1"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "作成完了",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "name",
                    "description",
                    "switch_code",
                    "zone",
                    "server_interfaces",
                    "nfs_server_interfaces",
                    "external_connection"
                  ],
                  "properties": {
                    "id": {
                      "type": "integer",
                      "readOnly": true,
                      "description": "id"
                    },
                    "name": {
                      "type": "string",
                      "description": "名前"
                    },
                    "description": {
                      "type": "string",
                      "description": "説明"
                    },
                    "switch_code": {
                      "type": "string",
                      "readOnly": true,
                      "description": "スイッチコード"
                    },
                    "zone": {
                      "type": "object",
                      "readOnly": true,
                      "description": "ゾーン情報",
                      "required": [
                        "code",
                        "name"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "readOnly": true,
                          "description": "ゾーンコード\n* tk2 東京第2\n* tk3 東京第3\n* os3 大阪第3\n* is1 石狩第1",
                          "enum": [
                            "tk2",
                            "tk3",
                            "os3",
                            "is1"
                          ]
                        },
                        "name": {
                          "type": "string",
                          "readOnly": true,
                          "description": "ゾーン名称",
                          "example": "石狩第1"
                        }
                      }
                    },
                    "server_interfaces": {
                      "type": "array",
                      "readOnly": true,
                      "description": "接続されているサーバーのインターフェースid",
                      "items": {
                        "type": "integer"
                      },
                      "example": []
                    },
                    "nfs_server_interfaces": {
                      "type": "array",
                      "readOnly": true,
                      "description": "接続されている追加ストレージ（NFS）のインターフェースid",
                      "items": {
                        "type": "integer"
                      },
                      "example": []
                    },
                    "external_connection": {
                      "type": "object",
                      "readOnly": true,
                      "nullable": true,
                      "description": "接続されている外部接続の情報",
                      "example": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Generic400"
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "409": {
            "description": "作成上限に達している",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails409"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      },
      "get": {
        "summary": "スイッチ情報一覧を取得する",
        "tags": [
          "switch"
        ],
        "operationId": "get-switch-list",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaginationPage"
          },
          {
            "$ref": "#/components/parameters/PaginationPerPage"
          },
          {
            "$ref": "#/components/parameters/IDList"
          },
          {
            "$ref": "#/components/parameters/ZoneCode"
          },
          {
            "$ref": "#/components/parameters/InterfaceID"
          },
          {
            "$ref": "#/components/parameters/SwitchSortOrder"
          },
          {
            "$ref": "#/components/parameters/SwitchSearch"
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "results"
                      ],
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Switch"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Generic400"
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      }
    },
    "/switches/{switch_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/SwitchIDPath"
        }
      ],
      "get": {
        "summary": "スイッチ情報を取得する",
        "tags": [
          "switch"
        ],
        "operationId": "get-switch",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Switch"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "スイッチが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      },
      "put": {
        "summary": "スイッチ情報を更新する",
        "tags": [
          "switch"
        ],
        "operationId": "put-switch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Switch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Switch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Generic400"
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "スイッチが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      },
      "delete": {
        "summary": "スイッチを削除する",
        "tags": [
          "switch"
        ],
        "operationId": "delete-switch",
        "responses": {
          "204": {
            "description": "成功"
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "スイッチが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "409": {
            "description": "削除が行えない状態（接続が残っている）",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails409"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      }
    },
    "/discs": {
      "get": {
        "summary": "ディスク情報一覧を取得する",
        "description": "追加ソフトウェアのディスク情報です。WindowsのCDドライブにマウントして利用します。",
        "tags": [
          "disc"
        ],
        "operationId": "get-disc-list",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaginationPage"
          },
          {
            "$ref": "#/components/parameters/PaginationPerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "results"
                      ],
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Disc"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      }
    },
    "/zones": {
      "get": {
        "summary": "ゾーン情報一覧を取得する",
        "tags": [
          "zone"
        ],
        "operationId": "get-zone-list",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaginationPage"
          },
          {
            "$ref": "#/components/parameters/PaginationPerPage"
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "results"
                      ],
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Zone"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      }
    },
    "/api-keys": {
      "post": {
        "summary": "APIキーを作成する",
        "tags": [
          "api-key"
        ],
        "operationId": "post-api-key",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKey"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Generic400"
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "409": {
            "description": "APIキーを作成できない状態。上限を超えているなど。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails409"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      },
      "get": {
        "summary": "APIキーの一覧を取得する",
        "tags": [
          "api-key"
        ],
        "operationId": "get-api-key-list",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaginationPage"
          },
          {
            "$ref": "#/components/parameters/PaginationPerPage"
          },
          {
            "$ref": "#/components/parameters/ApiKeySortOrder"
          },
          {
            "$ref": "#/components/parameters/RoleID"
          },
          {
            "$ref": "#/components/parameters/ApiKeySearch"
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "results"
                      ],
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ApiKey"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Generic400"
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      }
    },
    "/api-keys/{api_key_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ApiKeyID"
        }
      ],
      "get": {
        "summary": "APIキーを取得する",
        "tags": [
          "api-key"
        ],
        "operationId": "get-api-key",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "APIキーが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      },
      "put": {
        "summary": "APIキーを更新する",
        "tags": [
          "api-key"
        ],
        "operationId": "put-api-key",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiKey"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Generic400"
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "APIキーが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      },
      "delete": {
        "summary": "APIキーを削除する",
        "tags": [
          "api-key"
        ],
        "operationId": "delete-api-key",
        "responses": {
          "204": {
            "description": "成功"
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "APIキーが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      }
    },
    "/api-keys/{api_key_id}/rotate": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ApiKeyID"
        }
      ],
      "post": {
        "summary": "APIキーのトークンのローテーションを行う",
        "tags": [
          "api-key"
        ],
        "operationId": "post-api-key-rotate",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "APIキーが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      }
    },
    "/roles": {
      "post": {
        "summary": "ロールを作成する",
        "tags": [
          "api-key"
        ],
        "operationId": "post-role",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Role"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Generic400"
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "409": {
            "description": "ロールを作成できない状態。上限を超えているなど。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails409"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      },
      "get": {
        "summary": "ロール一覧を取得する",
        "tags": [
          "api-key"
        ],
        "operationId": "get-role-list",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaginationPage"
          },
          {
            "$ref": "#/components/parameters/PaginationPerPage"
          },
          {
            "$ref": "#/components/parameters/RoleSortOrder"
          },
          {
            "$ref": "#/components/parameters/RoleSearch"
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "results"
                      ],
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Role"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      }
    },
    "/roles/{role_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RoleIDPath"
        }
      ],
      "get": {
        "summary": "ロールを取得する",
        "tags": [
          "api-key"
        ],
        "operationId": "get-role",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "ロールが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      },
      "put": {
        "summary": "ロールを更新する",
        "tags": [
          "api-key"
        ],
        "operationId": "put-role",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Role"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Generic400"
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "ロールが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      },
      "delete": {
        "summary": "ロールを削除する",
        "tags": [
          "api-key"
        ],
        "operationId": "delete-role",
        "responses": {
          "204": {
            "description": "成功"
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "404": {
            "description": "ロールが見つからない",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails404"
                }
              }
            }
          },
          "409": {
            "description": "ロールを削除できない状態。紐づいているAPIキーがあるなど。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails409"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      }
    },
    "/permissions": {
      "get": {
        "summary": "権限の一覧を取得する",
        "tags": [
          "api-key"
        ],
        "operationId": "get-permission-list",
        "parameters": [
          {
            "$ref": "#/components/parameters/PaginationPage"
          },
          {
            "$ref": "#/components/parameters/PaginationPerPage"
          },
          {
            "$ref": "#/components/parameters/Category"
          },
          {
            "$ref": "#/components/parameters/Code"
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "required": [
                        "results"
                      ],
                      "properties": {
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Permission"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Generic401"
          },
          "403": {
            "$ref": "#/components/responses/Generic403"
          },
          "429": {
            "$ref": "#/components/responses/Generic429"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "コンパネで発行したApiKey"
      }
    },
    "parameters": {
      "PaginationPage": {
        "in": "query",
        "name": "page",
        "schema": {
          "type": "integer"
        }
      },
      "PaginationPerPage": {
        "in": "query",
        "name": "per_page",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 10
        }
      },
      "ServerID": {
        "in": "path",
        "name": "server_id",
        "description": "サーバーID",
        "required": true,
        "schema": {
          "type": "integer"
        }
      },
      "ServerInterfaceID": {
        "in": "path",
        "name": "interface_id",
        "description": "サーバーインターフェースID",
        "required": true,
        "schema": {
          "type": "integer"
        }
      },
      "ServerMonitoringID": {
        "in": "path",
        "name": "server_monitoring_id",
        "description": "サーバー監視ID",
        "required": true,
        "schema": {
          "type": "integer"
        }
      },
      "NfsServerID": {
        "in": "path",
        "name": "nfs_server_id",
        "description": "NFSのID",
        "required": true,
        "schema": {
          "type": "integer"
        }
      },
      "SwitchIDPath": {
        "in": "path",
        "name": "switch_id",
        "description": "スイッチID",
        "required": true,
        "schema": {
          "type": "integer"
        }
      },
      "SwitchID": {
        "in": "query",
        "name": "switch",
        "description": "switchのid\n対象のスイッチに接続されているサーバーに絞り込む",
        "schema": {
          "type": "integer"
        }
      },
      "InterfaceID": {
        "in": "query",
        "name": "interface",
        "description": "interfaceのid\n対象のインターフェースに接続されているスイッチに絞り込む",
        "schema": {
          "type": "integer"
        }
      },
      "ZoneCode": {
        "in": "query",
        "name": "zone_code",
        "description": "ゾーンコードで絞り込む\n* tk1 東京第1\n* tk2 東京第2\n* tk3 東京第3\n* os1 大阪第1\n* os2 大阪第2\n* os3 大阪第3\n* is1 石狩第1",
        "schema": {
          "type": "string",
          "enum": [
            "tk1",
            "tk2",
            "tk3",
            "os1",
            "os2",
            "os3",
            "is1"
          ]
        }
      },
      "ServiceType": {
        "in": "query",
        "name": "service_type",
        "description": "サービスタイプで絞り込む",
        "schema": {
          "type": "string",
          "enum": [
            "linux",
            "windows"
          ]
        }
      },
      "Ipv4Address": {
        "in": "query",
        "name": "ipv4_address",
        "description": "IPアドレスで絞り込む",
        "schema": {
          "type": "string",
          "example": "192.0.2.0"
        }
      },
      "ServerSearch": {
        "in": "query",
        "name": "search",
        "description": "名前、説明文、ホスト名、ipv4アドレス、ipv6アドレス、サービスコードから部分一致検索",
        "schema": {
          "type": "string"
        }
      },
      "MonitoringResourceId": {
        "in": "query",
        "name": "monitoring_resource_id",
        "description": "サーバー監視リソースIDで絞り込む",
        "schema": {
          "type": "string"
        }
      },
      "IDList": {
        "in": "query",
        "name": "id",
        "description": "idで絞り込む。カンマ区切りで100件まで指定可能。",
        "schema": {
          "type": "string"
        }
      },
      "ServerSortOrder": {
        "in": "query",
        "name": "sort",
        "description": "データの並び順。項目名の頭に`-`をつけると降順で取得する  \n例:\n* サービスコード昇順: sort=service_code\n* サービスコード降順: sort=-service_code",
        "schema": {
          "type": "string",
          "enum": [
            "service_code",
            "-service_code",
            "name",
            "-name",
            "storage_size_gibibytes",
            "-storage_size_gibibytes",
            "memory_mebibytes",
            "-memory_mebibytes",
            "cpu_cores",
            "-cpu_cores",
            "hostname",
            "-hostname",
            "ipv6_hostname",
            "-ipv6_hostname",
            "ipv4_address",
            "-ipv4_address",
            "ipv6_address",
            "-ipv6_address",
            "zone_code",
            "-zone_code",
            "ipv4_ptr",
            "-ipv4_ptr",
            "ipv6_ptr",
            "-ipv6_ptr"
          ]
        }
      },
      "NfsServerSortOrder": {
        "in": "query",
        "name": "sort",
        "description": "データの並び順。項目名の頭に`-`をつけると降順で取得する  \n例:\n* サービスコード昇順: sort=service_code\n* サービスコード降順: sort=-service_code",
        "schema": {
          "type": "string",
          "enum": [
            "service_code",
            "-service_code",
            "name",
            "-name",
            "storage_size_gibibytes",
            "-storage_size_gibibytes",
            "ipv4_address",
            "-ipv4_address",
            "zone_code",
            "-zone_code"
          ]
        }
      },
      "SwitchSortOrder": {
        "in": "query",
        "name": "sort",
        "description": "データの並び順。項目名の頭に`-`をつけると降順で取得する  \n例:\n* 接続インターフェース数昇順: sort=interfaces_count\n* 接続インターフェース数降順: sort=-interfaces_count",
        "schema": {
          "type": "string",
          "enum": [
            "name",
            "-name",
            "zone",
            "-zone",
            "interfaces_count",
            "-interfaces_count"
          ]
        }
      },
      "SwitchSearch": {
        "in": "query",
        "name": "search",
        "description": "名前と説明文から部分一致検索",
        "schema": {
          "type": "string"
        }
      },
      "DiscID": {
        "in": "path",
        "name": "disc_id",
        "description": "ディスクID",
        "required": true,
        "schema": {
          "type": "integer"
        }
      },
      "RoleIDPath": {
        "in": "path",
        "name": "role_id",
        "description": "ロールID",
        "required": true,
        "schema": {
          "type": "integer"
        }
      },
      "RoleID": {
        "in": "query",
        "name": "role",
        "description": "roleのid。ロールで絞り込む",
        "schema": {
          "type": "integer"
        }
      },
      "RoleSortOrder": {
        "in": "query",
        "name": "order",
        "description": "データの並び順。項目名の頭に`-`をつけると降順で取得する  \n例:\n* 名称昇順: sort=name\n* 名称降順: sort=-name",
        "schema": {
          "type": "string",
          "enum": [
            "id",
            "-id",
            "name",
            "-name"
          ]
        }
      },
      "RoleSearch": {
        "in": "query",
        "name": "search",
        "description": "名前と説明文から部分一致検索",
        "schema": {
          "type": "string"
        }
      },
      "ApiKeyID": {
        "in": "path",
        "name": "api_key_id",
        "description": "APIキーID",
        "required": true,
        "schema": {
          "type": "integer"
        }
      },
      "ApiKeySortOrder": {
        "in": "query",
        "name": "order",
        "description": "データの並び順。項目名の頭に`-`をつけると降順で取得する  \n例:\n* 名称昇順: sort=name\n* 名称降順: sort=-name",
        "schema": {
          "type": "string",
          "enum": [
            "id",
            "-id",
            "name",
            "-name"
          ]
        }
      },
      "ApiKeySearch": {
        "in": "query",
        "name": "search",
        "description": "名前から部分一致検索",
        "schema": {
          "type": "string"
        }
      },
      "Category": {
        "in": "query",
        "name": "category",
        "description": "カテゴリーで絞り込む",
        "schema": {
          "type": "string"
        },
        "example": "server"
      },
      "Code": {
        "in": "query",
        "name": "code",
        "description": "コードで絞り込む。カンマ区切りで複数指定可能。",
        "schema": {
          "type": "string"
        },
        "example": "get-server-list,get-server,put-server"
      }
    },
    "schemas": {
      "Pagination": {
        "type": "object",
        "required": [
          "count",
          "next",
          "previous"
        ],
        "properties": {
          "count": {
            "type": "integer",
            "description": "データ総数",
            "example": 100
          },
          "next": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "次のページへのURL",
            "example": "https://api.example.com/?page=3&per_page=10"
          },
          "previous": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "前のページへのURL",
            "example": "https://api.example.com/?per_page=10"
          }
        }
      },
      "InvalidParameterDetail": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "code": {
              "type": "string",
              "description": "エラー内容を示す簡潔な識別子",
              "example": "required"
            },
            "message": {
              "type": "string",
              "example": "この項目は必須です"
            }
          }
        }
      },
      "ProblemDetails400": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "invalid",
              "parse_error",
              "bad_request"
            ],
            "description": "エラー内容を示す簡潔な識別子\n* `invalid` - 不正なリクエスト値,リクエスト値が妥当でない\n* `parse_error` - 不正な形式,リクエスト値を読み取ることができない\n* `bad_request` - リクエストの内容に何らかの問題がある"
          },
          "message": {
            "type": "string",
            "description": "エラーの内容",
            "example": "Invalid input."
          },
          "errors": {
            "description": "入力値に対するエラーを構造化した情報\n(code`invalid`の場合のみ)\n* `non_field_errors` - リクエスト全体に起因した(単一項目でない)エラー内容\n* `*` - 対応した入力項目ごとのエラー内容",
            "nullable": true,
            "example": {
              "foo": [
                {
                  "code": "required",
                  "message": "この項目は必須です"
                }
              ]
            },
            "type": "object",
            "properties": {
              "non_field_errors": {
[...]
